[Desktop Entry]
Encoding=UTF-8
Name=Freegemas - fixed
GenericName=Freegemas
Comment=A Bjeweled clone game (upstream bug fixed)
Version=1.0
Exec=/opt/freegemas-fixed/freegemas-fixed
Path=/opt/freegemas-fixed
Terminal=false
Type=Application
Categories=Application;Game;
Icon=/opt/freegemas-fixed/media/freegemas.ico